.navbar-logo{
    height: 400px;
    width: 380px;
}

@font-face {
    font-family: "Licorice", cursive;
    src: url('asset/Font/Licorice-Regular.ttf');
}

.font-custom{
    font-family: "Licorice", cursive;
    font-weight: 400;
    font-style: normal;
}
